In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dbcv

In [13]:
#dataset_path = r"C:\Users\Alessandro\Desktop\EHR_datasets\10_7717_peerj_5665_dataYM2018_neuroblastoma.csv"
dataset = pd.read_csv(r"C:\Users\Alessandro\Desktop\EHR_datasets\10_7717_peerj_5665_dataYM2018_neuroblastoma.csv")

In [15]:
dataset.dtypes

age                                     float64
sex                                      object
site                                     object
stage                                   float64
risk                                     object
time_months                              object
autologous_stem_cell_transplantation     object
radiation                                object
degree_of_differentiation                object
UH_or_FH                                 object
MYCN_status                              object
surgical_methods                         object
outcome                                 float64
dtype: object

In [17]:
dataset.head(5)

,age,sex,site,stage,risk,time_months,autologous_stem_cell_transplantation,radiation,degree_of_differentiation,UH_or_FH,MYCN_status,surgical_methods,outcome
0,2.0,0,0,1.0,1,7,0,0,0,0,1,1,0.0
1,2.0,0,0,1.0,1,19,0,1,0,0,1,1,1.0
2,1.0,0,0,1.0,1,25,0,1,1,0,1,0,1.0
3,1.0,0,0,1.0,1,8,0,0,1,0,1,1,0.0
4,1.0,0,0,1.0,1,47,1,1,1,0,1,0,1.0

In [19]:
dataset.tail(5)

,age,sex,site,stage,risk,time_months,autologous_stem_cell_transplantation,radiation,degree_of_differentiation,UH_or_FH,MYCN_status,surgical_methods,outcome
168,0.0,0,0,0.0,0,32,0,0,0,0,1,0,0.0
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,,,NaN,,,,,,,,,NaN
171,NaN,NaN,,NaN,NaN,NaN,,,,,NaN,NaN,NaN
172,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dataset.sample(5)

,age,sex,site,stage,risk,time_months,autologous_stem_cell_transplantation,radiation,degree_of_differentiation,UH_or_FH,MYCN_status,surgical_methods,outcome
107,1.0,1,0,1.0,1,9,0,0,1,0,0,1,1.0
16,2.0,0,0,1.0,1,23,0,1,1,0,1,0,1.0
108,1.0,1,0,1.0,1,12,0,1,0,0,0,0,0.0
172,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0,0,1.0,1,8,0,0,1,0,1,1,0.0

In [25]:
dataset.isnull().sum()

age                                     4
sex                                     3
site                                    1
stage                                   4
risk                                    3
time_months                             3
autologous_stem_cell_transplantation    2
radiation                               2
degree_of_differentiation               2
UH_or_FH                                2
MYCN_status                             3
surgical_methods                        3
outcome                                 4
dtype: int64

In [4]:
print("File aggiornato 2")

File aggiornato 2